.bigbrother .body {
    max-height: inherit;
    padding: 0;
    position: relative;
}
.bigbrother .main-wrapper {
    padding: 15px 15px 0;
}
.bigbrother .charts-wrapper,
.bigbrother .metas-wrapper{ margin: 0 0 15px; }
.bigbrother .bb-panel .x-panel-header{
    background: none repeat scroll 0 0 #DADADA;
    background:-moz-linear-gradient(center bottom,#DADADA 0%,#EAEAEA 100%) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#EAEAEA),color-stop(100%,#DADADA));
    background:-webkit-linear-gradient(center bottom,#DADADA 0%,#EAEAEA 100%);
    background:-o-linear-gradient(center bottom,#DADADA 0%,#EAEAEA 100%);
    background:-ms-linear-gradient(center bottom,#DADADA 0%,#EAEAEA 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#EAEAEA,endColorstr=#DADADA,GradientType=0);
    background:linear-gradient(center bottom,#DADADA 0%,#EAEAEA 100%);
    border-color: #D0D0D0 #D0D0D0 #E5E5E5;
    border-style: solid;
    border-width: 1px;
    padding: 6px 10px;
}
.bigbrother .bb-panel  .x-panel-body {
    border: 1px solid #D0D0D0;
}
.bigbrother .charts-line .x-panel-body {
    padding: 15px 30px 15px 5px;
}
.bigbrother .metas-wrapper table{
    font-family: Arial,Helvetica,sans-serif;
    width: 100%;
    border-collapse: collapse;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    border:1px solid #D0D0D0;
    border-bottom: 0 none;
}
.bigbrother .metas-wrapper tr{
    border-bottom:1px solid #D0D0D0;
}
.bigbrother .metas-wrapper td{
    border-right: 1px solid  #D0D0D0;
    color: #888888;
    font-size: 9px;
    font-weight: bold;
    margin: 0;
    min-width: 115px;
    padding: 10px;
    text-transform: uppercase;
}
.bigbrother .metas-wrapper td.last{ border-right:0 none; }
.bigbrother .metas-wrapper td .highlight{
    color: #666666;
    font-size: 35px;
    line-height: 1;
    position: relative;
}
.bigbrother .metas-wrapper td .compare{
    background: url("../images/equal.png") no-repeat scroll top center transparent;
    color: #A0A0A0;
    font-size: 10px;
    min-width: 15px;
    padding-top: 15px;
    position: absolute;
    right: 13px;
    text-align: center;
    top: 12px;
}
.bigbrother .metas-wrapper td .compare.up{ 
    background: url("../images/arrow-up.png") no-repeat scroll top center transparent; 
    right: 5px;
}
.bigbrother .metas-wrapper td .compare.down{ 
    background: url("../images/arrow-down.png") no-repeat scroll top center transparent; 
    right: 5px;
}
.bigbrother .x-column-inner .x-column{ margin: 0 0 15px 15px; }
.bigbrother .x-column-inner .x-column:first-child { margin-left: 0; }
.styled-desc{
    background: none repeat scroll 0 0 #F5F5F5;
    background:-moz-linear-gradient(center bottom,#EAEAEA 0%,#F5F5F5 100%) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#F5F5F5),color-stop(100%,#EAEAEA));
    background:-webkit-linear-gradient(center bottom,#EAEAEA 0%,#F5F5F5 100%);
    background:-o-linear-gradient(center bottom,#EAEAEA 0%,#F5F5F5 100%);
    background:-ms-linear-gradient(center bottom,#EAEAEA 0%,#F5F5F5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5F5F5,endColorstr=#EAEAEA,GradientType=0);
    background:linear-gradient(center bottom,#EAEAEA 0%,#F5F5F5 100%);
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    padding: 0 0 0 15px;
    position: relative;
}
.styled-desc h3 {
    color: #808080;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0 15px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.styled-desc h3 span {
    color: #A0A0A0;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
}
.styled-desc .account-infos{
    background-color: #FFFFFF;
    background-image: none;
    border-left: 1px solid #E0E0E0;
    color: #808080;
    font-style: italic;
    min-height: 60px;
    padding: 25px 20px 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.styled-desc .account-infos span{
    color: #AEAEAE;
    display: block;
    font-size: 11px;
    text-transform: uppercase;
}
.bigbrother .inline-button{
    left: -130px;
    position: absolute;
}